@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
.App {
  width: 500px;
  margin: 20rem auto;
  font-weight: 300;
  position: relative;
  background-color: #fff;
  &::after {
    position: absolute;
    content: "";
    width: calc(100% - 4px);
    height: 100%;
    background-color: #fff;
    top: 4px;
    left: 2px;
    z-index: -1;
    border-bottom: 1px solid #dedede;
  }
  &::before {
    position: absolute;
    content: "";
    width: calc(100% - 8px);
    height: 100%;
    top: 8px;
    left: 4px;
    z-index: -2;
    border-bottom: 1px solid #dedede;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  }
}
.title {
  position: absolute;
  left: 50%;
  top: -150px;
  font-size: 10rem;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    overflow: hidden;
    color: rgb(65, 173, 73);
    transition: width 0.35s linear;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
}
